body::-webkit-scrollbar {
  width: 12px;  
}

body::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 20px;
}

body::-webkit-scrollbar-thumb {
  background-color: #77c850;
  border-radius: 20px;
  border: 3px solid transparent;
}

.pokemons::-webkit-scrollbar {
  width: 12px;  
}

.pokemons::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 20px;
}

.pokemons::-webkit-scrollbar-thumb {
  background-color: #77c850;
  border-radius: 20px;
  border: 3px solid transparent;
}